<!DOCTYPE html>
<html lang="en">
    <%- include('pHead') %>
<body>
    <%- include('pNav') %>

    <div class="not-found content">
        <h1>OOPS! Page not found</h1>
    </div>
    <%- include('pFooter') %>
</body>
</html>