<!DOCTYPE html>
<html lang="en">
    <%- include('pHead') %>
<body>
    <%- include('pNav') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio accusamus, recusandae earum adipisci dolorem, incidunt ea, placeat aliquid corporis aliquam in. Maxime veritatis unde illum mollitia nobis magni delectus animi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a hic voluptas saepe esse reiciendis sequi, ipsam modi eaque? Quas hic nulla exercitationem eligendi maxime aperiam numquam dicta dolorum qui.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus earum deserunt sint neque, a praesentium necessitatibus unde, commodi aut odio voluptate? Numquam veritatis, repellendus voluptates voluptas tenetur itaque maiores minus.</p>
    </div>
    <%- include('pFooter') %>
</body>
</html>