<!-- <% const name = "Jamie" %>
    <% const heading = `${name}'s site under construction` %>
    <h1><%= heading %></h1> -->
    
<nav>
    <div class="site-title">
        <a href="/"><h1>Gratitude Journal</h1></a>
        <p>This is my 2022 gratitude jar</p>
    </div>
    <ul>
        <li><a href="/">Entries</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Entry</a></li>
    </ul>
</nav>